version: '3.1'

services:
  db:
    image: mysql:8.0
    container_name: petsphere-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: password
    ports:
      - "33061:3306"
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    image: wordpress:latest
    container_name: petsphere-web
    restart: always
    ports:
      - "8000:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: wordpress
      WP_HOME: http://192.168.0.249:8000
      WP_SITEURL: http://192.168.0.249:8000
    volumes:
      - .:/var/www/html
    depends_on:
      - db

volumes:
  db_data:
